body{
    text-align: center;
}
#Blackpanther{
    height: 250px;
    width: 200px;
}
#Captainamerica{
    height: 200px;
    width: 200px;
}
#Hulk{
    height: 250px;
    width: 200px;
}
#IronMan{
    height: 250px;
    width: 200px;
}
#Thanos{
    height: 250px;
    width: 200px;
}
#Thor{
    height: 250px;
    width: 200px;
}
#CaptainMarvel{
    height: 250px;
    width: 200px;
}

#Wanda{
    height: 250px;
    width: 200px;
}